.custom-page > .container {
  background-color: var(--vp-c-bg);
}

.container.no-border {
  border-top: none;
}

.custom-page .content {
  padding: 96px 32px;
  margin: 0 auto;
  max-width: 1216px;
}

.custom-page .content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .custom-page .content {
    padding: 48px 24px;
  }
}

.custom-page .reverse-background {
  background-color: var(--vp-c-bg-alt);
}

.custom-page .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  border: 1px solid #8882;
  background-color: var(--vp-c-bg);
  border-radius: 16px;
  padding: 32px;
}

.custom-page .card img.icon {
  height: 48px;
}

.custom-page h3 {
  margin-bottom: 8px;
}

.custom-page a:hover .card {
  box-shadow: var(--elevation-hover);
}

.custom-page .card hr {
  margin: 32px 0;
  border: none;
  border-top: 1px solid var(--vp-c-gutter);
  width: 100%
}

@media screen and (max-width: 700px) {
  .custom-page .card {
    padding: 24px;
  }

  .custom-page .card hr {
    border: 1px solid var(--vp-c-gutter);
  }
}

.custom-page h1 {
  font-family: var(--vp-font-family-base);
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}

.custom-page h2 {
  font-family: var(--vp-font-family-base);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.custom-page h3 {
  font-family: var(--vp-font-family-base);
  color: var(--vp-c-text-1);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 24px 0 8px 0;
}

.custom-page p, .custom-page ul {
  color: var(--vp-c-text-2);

  line-height: 1.5rem;
  font-size: 1rem;
}

.custom-page p.sub-header {
  color: var(--vp-c-text-2);
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

.custom-page .section-header {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fa-2xl {
    margin-bottom: 16px;
  }
}

.custom-page .section-header * {
  text-align: center;
}

.highlight-foreground {
  background: var(--vp-home-hero-name-background);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

span.highlight-background {
  background: -webkit-linear-gradient(120deg, #2979FF33, #00E5FF33);
  color: var(--vp-c-text-1);
  font-weight: 500;

  border-radius: 8px;
  padding: 4px 8px;
}

.custom-page {
  .fa-duotone, .fa-solid {
    color: #2196F3;
  }

  .fa-2xl {
    background-color: #2196F322;
    border-radius: 12px;
    padding: 12px;
    font-size: 32px;
    height: 56px;
    min-width: 56px;
    text-align: center;
    line-height: 32px;
  }

  .fa-square-check {
    font-size: 24px;
    --fa-secondary-opacity: 0.2;
  }

  .fa-money-bill-transfer {
    --fa-secondary-opacity: 0.6;
  }

  .fa-star {
    --fa-secondary-opacity: 0.9;
  }

  .fa-calendar-circle-plus {
    --fa-secondary-opacity: 0.6;
  }
}

.custom-page p a:not(.action) {
  color: var(--vp-c-brand-1);
}

.custom-page a:not(.action):hover {
  color: var(--vp-c-brand-2);
}

a.action {
  display: inline-block;
  text-align: center;
  align-items: center;
  font-weight: 500;
  white-space: nowrap;

  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;

  background-color: #8883;

  color: var(--vp-c-text-1);
  font-size: 1rem;
}

a.action:hover {
  background-color: #8885;
  cursor: pointer;
}

a.action.primary {
  color: #FFF;
  background-color: #2196F3;
  font-weight: bold;
}

a.action.primary:hover {
  background-color: #1E88E5
}

@media screen and (max-width: 700px) {
  .custom-page h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .custom-page h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .custom-page p.sub-header {
    color: var(--vp-c-text-1);
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

