:root:not(.dark) {
    --vp-c-brand-1: #0277BD;
    --vp-c-brand-2: #039BE5;
    --vp-c-brand-3: #29B6F6;
    --vp-c-brand-soft: #0091EA24;
}


:root:is(.dark) {
    --vp-c-brand-1: #4FC3F7;
    --vp-c-brand-2: #03A9F4;
    --vp-c-brand-3: #0288D1;
    --vp-c-brand-soft: #0091EA24;
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #2979FF, #00E5FF);

    --vp-home-hero-image-background-image: conic-gradient(from 100deg, #2979FF55 70deg, #88888855 70deg);
    --vp-home-hero-image-filter: blur(48px);

    --vp-c-gutter: var(--vp-c-divider);

    --elevation: 0 13px 27px -5px rgb(0 0 0 / 5%), 0 8px 16px -8px rgb(0 0 0 / 8%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    --elevation-hover: 0 13px 27px -5px rgb(0 0 0 / 15%), 0 8px 16px -8px rgb(0 0 0 / 24%), 0 -6px 16px -6px rgb(0 0 0 / 9%);
}

html {
    scroll-behavior: smooth;
}

.VPNavBar .title {
    font-size: 24px !important;
}

.logo {
    height: 32px !important;
    margin-right: 16px !important;
}

.VPHero img.VPImage {
    filter: drop-shadow(0 8px 8px rgba(0,  0, 0, 0.25));
}

.VPLink.link.active,
.VPLink.link.active > span.link-text,
.outline-link.active,
.VPSidebarItem .is-active p {
    font-weight: 600 !important;
}

.VPHome {
    margin-bottom: 0 !important;
}

.VPHero {
    padding: 198px 0 96px 0 !important;
    margin: 0 32px;
}

@media (min-width: 425px) {
    .VPHero h1 {
        font-size: 4rem !important;
        margin-bottom: 2rem !important;
    }

    .VPHero p.text {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        margin-bottom: 1rem !important;
    }
}

@media (min-width: 960px) {
    .VPHero h1 {
        font-size: 6rem !important;
        margin-bottom: 3rem !important;
    }

    .VPHero p.text {
        font-size: 2.5rem !important;
        line-height: 3rem !important;
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 960px) {
    .VPHero {
        padding: 128px 32px 64px 32px !important;
    }
}

@media (max-width: 425px) {
    .VPHero {
        padding: 96px 24px 48px !important;
    }

    .VPHero h1 {
        font-size: 3rem !important;
        margin-bottom: 2rem !important;
    }

    .VPHero p.text {
        font-size: 1.25rem !important;
        line-height: 2rem !important;
        margin-bottom: 1rem !important;
    }
}

html:not(.dark) .VPDoc img[alt=example] {
    border: 1px solid #888;
}

html.dark .VPDoc img[alt=example] {
    opacity: 0.75;
}

.VPDoc img[alt=example] {
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 15%), 0 8px 16px -8px rgb(0 0 0 / 10%), 0 -6px 16px -6px rgb(0 0 0 / 5%);
    margin-bottom: 16px;
    border-radius: 8px;
}

.vp-doc strong,
.vp-doc b {
    color: var(--vp-c-tip-1);
}

.VPHero .VPButton {
    font-size: 1rem !important;
}

.custom-block-title {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.pdf-viewer {
    width: 100%;
    height: 625px;

    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 15%), 0 8px 16px -8px rgb(0 0 0 / 10%), 0 -6px 16px -6px rgb(0 0 0 / 5%);
    border-radius: 8px;
}

html.dark .light-only {
    display: none !important;
}

html:not(.dark) .dark-only {
    display: none !important;
}

.companion-screenshot {
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 15%), 0 8px 16px -8px rgb(0 0 0 / 10%), 0 -6px 16px -6px rgb(0 0 0 / 5%);
}

.companion-status-dot {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
