:root {
    --vp-c-brand: #1E88E5;
    --vp-c-brand-light: #42A5F5;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #2979FF, #00E5FF);
    --vp-home-hero-image-background-image: conic-gradient(from 100deg, #2979FF55 70deg, #88888855 70deg);
    --vp-home-hero-image-filter: blur(48px);
    --vp-button-brand-bg: #03A9F4;
    --vp-button-brand-border: #03A9F4;
    --vp-button-brand-active-border: #03A9F4;
    --vp-button-brand-active-bg: #03A9F4;
    --vp-button-brand-hover-bg: #2979FF;
    --vp-button-brand-hover-border: #2979FF;
    --vp-button-brand-text: #FFF !important;
    --vp-button-brand-hover-text: #FFF !important;
    --vp-layout-max-width: 1216px;
    --vp-c-text-light-3: rgba(0, 0, 0, 0.38);
}

html {
    scroll-behavior: smooth;
}

:root:not(.dark) {
    --vp-code-copy-code-bg: #FFF;
    --vp-code-copy-code-active-text: inherit;
    --vp-code-block-bg-light: #FFF;
}

.VPNavBar .title {
    font-size: 24px !important;
}

.logo {
    height: 32px !important;
    margin-right: 16px !important;
}

.VPHero img.VPImage {
    filter: drop-shadow(0 8px 8px rgba(0,  0, 0, 0.25));
}

.VPLink.link.active,
.VPLink.link.active > span.link-text,
.outline-link.active,
.VPSidebarItem .is-active p {
    font-weight: 600 !important;
}

.VPFeature .title {
    font-size: 1.25rem;
}

.VPHome {
    padding-bottom: 0 !important;
}

.VPHero {
    padding: 198px 0 96px 0 !important;
    margin: 0 32px;
}

@media (min-width: 425px) {
    .VPHero h1 {
        font-size: 4rem !important;
        margin-bottom: 2rem !important;
    }

    .VPHero p.text {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        margin-bottom: 1rem !important;
    }
}

@media (min-width: 960px) {
    .VPHero h1 {
        font-size: 6rem !important;
        margin-bottom: 3rem !important;
    }

    .VPHero p.text {
        font-size: 2.5rem !important;
        line-height: 3rem !important;
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 960px) {
    .VPHero {
        padding: 128px 32px 64px 32px !important;
    }
}

@media (max-width: 425px) {
    .VPHero {
        padding: 96px 24px 48px !important;
    }

    .VPHero h1 {
        font-size: 3rem !important;
        margin-bottom: 2rem !important;
    }

    .VPHero p.text {
        font-size: 1.25rem !important;
        line-height: 2rem !important;
        margin-bottom: 1rem !important;
    }
}

html:not(.dark) {
    --vp-code-block-bg: #EEE;
    --vp-code-line-highlight-color: #DDD;
    --vp-c-bg-soft: #f6f6f6;
}

html:not(.dark) .VPDoc img[alt=example] {
    border: 1px solid #888;
}

html.dark .VPDoc img[alt=example] {
    opacity: 0.75;
}

.VPDoc img[alt=example] {
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 15%), 0 8px 16px -8px rgb(0 0 0 / 10%), 0 -6px 16px -6px rgb(0 0 0 / 5%);
    margin-bottom: 16px;
    border-radius: 8px;
}

html.dark .vp-doc strong,
html.dark .vp-doc b {
    color: #81D4FA;
}

html:not(.dark) .vp-doc strong,
html:not(.dark) .vp-doc b {
    color: #01579B;
}

.vp-doc a {
    text-decoration: underline;
}

.VPHero .VPButton {
    font-size: 1rem !important;
}

a:has(.alert) {
    text-decoration: none !important;
}

a .alert.warning:hover {
    cursor: pointer;
    background-color: rgba(255, 197, 23, 0.15);
}

.VPDocAsideOutline .outline-marker {
    width: 2px;
}

.custom-block {
    border-width: 0 0 0 8px;
    background-color: var(--vp-code-block-bg) !important;
}

.custom-block :not(.custom-block-title) {
    color: var(--vp-c-text-1) !important;
}

.custom-block-title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}